<?xml version="1.0"?>
<launch>=
    
    <!-- Start relaxed ik -->
    <node pkg="relaxed_ik_ros1" type="relaxed_ik_rust.py" name="relaxed_ik" output="screen"/>

    <!-- Start PID -->
    <node pkg="kinova_positional_control" type="pid_joints_relative.py" name="pid_joints" output="screen"/>

</launch>
